@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

body {
  min-height: 100vh;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0895fe;
  border-radius: 4px;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


@keyframes appearSlow {
  0%{opacity: 0;}

  100%{opacity: 1;}
}

@keyframes appearFast {
  /* 0%{transform: translate(-60.0%, 0)}
  100%{transform: translate(0.0%, 0)} */
  0%{opacity: 0;}

  100%{opacity: 1;}
}


@keyframes slide-right {
  0%{transform: translate(100.0%, 0)}
  100%{transform: translate(0.0%, 0)}
}

@keyframes slide-left {
  0%{transform: translate(-100.0%, 0)}
  100%{transform: translate(0.0%, 0)}
}



.appearSlow{
  animation: appearSlow 1.2s ease-out 1;
  will-change: animation;
  position: relative;
}
.appearFast{
  animation: appearFast 0.75s ease-out 1;
  will-change: animation;
  position: relative;
}


.slide-right{
  animation: slide-right 0.3s ease-in 1;
  will-change: animation;
  position: relative;
}
.slide-left{
  animation: slide-left 0.3s ease-in 1;
  will-change: animation;
  position: relative;
}

.hide {
  display: none;
}

.show{
  display:  block;
}

.whiteBorder{
  background-color: .15em solid #00ff5a;

}


.img-responsive{
  max-width: 100%;
  height: auto;
}